.decks-container {
    height: 150px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
}

.deck-display-container {
    display: table;
    width: 70%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.deck-label {
    font-size: 16px;
    font-weight: bold;
}

.deck-group {
    float: left;
    margin-right: 20px;
}

.left {
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float: left;
}

.input {
    height: 20px;
    width: 250px;
    border: 1px solid #000;
    margin-top: 10px;
}