:root {
    --main-bg: rgb(41, 41, 41);
    --top-menu-bg: rgb(54, 0, 54);
    --hover-bg: rgb(110, 69, 110);
    --hover-color: purple;
  }
  
  .block {
    display: block;
  }

  .center {
    text-align: center;
  }
  
  .search-center-div {
    display: table;
    margin: 0 auto;
    position: static;
  }

  .button-group {
    display: table;
    margin: 0 auto;
    position: static;
    width: 394px;
  }

  .text-center {
    text-align: center;
  }
  
  .search-label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .search-group {
    float: left;
    margin-right: 20px;
  }

  .search-button {
    display: inline-block;
    vertical-align: left;
    width: 44%;
    margin-right: 20px;
    margin-top: 10px;
  }

  .add-button {
    display: inline-block;
    vertical-align: left;
    width: 44%;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .search-results {
    text-align: left;
    display: table;
    width: 400px;
    margin: 0 auto;
  }